@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Noms des équipiers</h3>
<h4>Étudiants</h4>
<address>
    <b>Département d'informatique <br/>
    Collège Lionel-Groulx</b><br/><br />
    100 rue Duquet<br />
    Sainte-Thérèse (Québec), J7E 3G6<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:votre courriel">votre courriel</a><br />
</address>