@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Dominic Goudreau-David et Cedric-Michel Provençal-Taillon</h3>
<h4>Étudiants</h4>
<address>
    <b>Département d'informatique <br/>
    Collège Lionel-Groulx</b><br/><br />
    100 rue Duquet<br />
    Sainte-Thérèse (Québec), J7E 3G6<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thejacki360@gmail.com">support@gmail.com</a><br />
</address>